.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background-color: #EFEBD5;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 5%;
}

.hero-icon {
  width: 20%; /* Largeur en pourcentage pour s'adapter dynamiquement */
  max-width: 720px; /* Limite la largeur maximale */
  height: auto; /* Laisse la hauteur s'ajuster automatiquement */
}

.laurier-icon {
  width: 25%; /* Largeur en pourcentage pour s'adapter dynamiquement */
  max-width: 720px; /* Limite la largeur maximale */
  height: auto; /* Laisse la hauteur s'ajuster automatiquement */
  flex-shrink: 0;
}

.left {
  margin-right: 20px;
  transform: scaleX(-1);
}

.right {
  margin-left: 20px;
}

/* Responsive Styles pour les écrans de 1024 pixels de largeur */
@media (max-width: 1024px) {
  .hero-section {
    height: 50vh;
    padding: 10px;
  }

  .hero-icon {
    width: 25%; /* Ajuste la taille de l'image principale */
    max-width: 600px;
  }

  .laurier-icon {
    width: 30%; /* Ajuste la taille des lauriers */
    max-width: 600px;
    margin: 0 15px;
  }
}

/* Responsive Styles pour les écrans de 768 pixels de largeur */
@media (max-width: 768px) {
  .hero-section {
    height: 45vh;
    padding: 10px;
  }

  .hero-icon {
    width: 30%; /* Réduit la taille de l'image principale */
    max-width: 480px;
  }

  .laurier-icon {
    width: 35%; /* Réduit la taille des lauriers */
    max-width: 480px;
    margin: 0 10px;
  }
}

/* Responsive Styles pour les très petits écrans (480 pixels) */
@media (max-width: 480px) {
  .hero-section {
    height: auto;
    padding: 0;
    display: grid; /* Utilisation de la grille pour les petits écrans */
    grid-template-columns: repeat(3, 1fr); /* Grille de 3 colonnes */
    gap: 10px; /* Espacement entre les éléments */
  }

  .hero-icon, .laurier-icon {
    width: 100%; /* Chaque image prend la largeur disponible */
    max-width: none; /* Désactivation de la largeur maximale pour la grille */
    height: auto;
    margin: 0;
  }

  .left, .right {
    margin: 0;
    transform: none; /* Supprime la transformation sur les petits écrans */
  }

  /* Modification spécifique pour l'icône de gauche */
  .left {
    transform: scaleX(-1); /* Maintient la transformation miroir */
    margin-right: 10px; /* Ajuste la marge pour les petits écrans */
  }
}
