/* pages.css */

/* Unified CSS Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Abhaya Libre SemiBold', serif;
    color: #000000;
}

.background-primary {
    background-color: #EFEBD5;
}

.background-secondary {
    background-color: #80ABA4;
}

.section {
    padding: 20px;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abhaya Libre SemiBold', serif;
    color: #000;
    text-align: center;  /* Centrer les titres */
}

p {
    font-family: 'Abhaya Libre SemiBold', serif;
    color: #000;
    line-height: 1.6;
}

@media (max-width: 1024px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
    p  { font-size: 1rem; }
}

@media (max-width: 768px) {
    h1 { font-size: 1.75rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    p  { font-size: 0.875rem; }
}

@media (max-width: 480px) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1rem; }
    p  { font-size: 0.75rem; }
}
