.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80aba4;
  padding: 20px;
  color: #000;
  font-family: 'Abhaya Libre SemiBold', serif;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  text-align: center; /* Aligne le texte au centre */
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.atelier-info {
  text-align: center; /* Centre le texte de cette section */
}

.atelier-name {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.atelier-address {
  font-size: 18px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les liens */
  padding: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 32px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
  justify-content: center; /* Centre les icônes et le texte */
}

.nav-item:hover {
  color: #000000;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.nav-item:hover::after {
  transform: translateX(0);
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.artisan-logo {
  width: 250px;
  height: auto;
  margin: 20px auto;
}

.fioriture {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 40px auto; /* Ceci devrait centrer l'élément */
  padding: 40px;
  text-align: center;
  display: flex; /* Ajout de Flexbox */
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 10px 0;
    text-align: center;
  }

  .fioriture {
    max-width: 80%;
    justify-content: center; /* Centrage horizontal */
  }

  .artisan-logo {
    width: 200px;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .fioriture {
    max-width: 70%;
    justify-content: center; /* Centrage horizontal */
  }

  .footer-section {
    text-align: center;
  }

  .artisan-logo {
    width: 150px;
  }

  .atelier-name {
    font-size: 22px;
  }

  .atelier-address,
  .section-title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .fioriture {
    max-width: 60%;
    justify-content: center; /* Centrage horizontal */
  }

  .footer-section {
    text-align: center;
  }

  .artisan-logo {
    width: 120px;
  }

  .atelier-name {
    font-size: 20px;
  }

  .atelier-address,
  .section-title {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .fioriture {
    max-width: 50%;
    justify-content: center; /* Centrage horizontal */
  }

  .footer-section {
    text-align: center;
  }

  .artisan-logo {
    width: 100px;
  }

  .atelier-name {
    font-size: 18px;
  }

  .atelier-address,
  .section-title {
    font-size: 16px;
  }
}
